# Autor: Sasha
# Redirección de las páginas de error.

Options -Indexes 

ErrorDocument 403 /AplicacionFinal/error/403.html
ErrorDocument 404 /AplicacionFinal/error/404.html

#RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . index.php [L]
