/* 
    Created on : 28 ene. 2022, 9:22:36
    Author     : Sasha
*/

h3{
    text-align: center;
    margin: 20px 0 10px;
}

table{
    border-collapse: collapse;
    width: 100%;
}
td, th{
    border: 1px solid var(--blue);
    padding: 10px;
}