/* 
    Created on : 26 ene. 2022, 13:24:31
    Author     : Sasha
*/

aside img{
    border-radius: 15px;
}

@media (min-width: 740px){
    main .container{
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: min-content auto auto;
        height: fit-content;
    }
    div.mainH1{
        grid-column: 1/-1;
    }
    main section:last-of-type{
        grid-column: 1/-1;
    }

    main aside img{
        max-width: 400px;
        max-height: 400px;
    }

    main section form{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    main section form button{
        min-width: fit-content;
    }

    main section.contenido{
        text-align: center;
        margin: 10px;
    }
}
@media (max-width: 740px){
    main .container{
        display: flex;
        flex-direction: column;
    }
    
    main section.contenido{
        margin: 5px 0;
    }
    
    main aside{
        order: 100;
    }
    main aside img{
        width: 100%;
    }
    
    main section form{
        display: flex;
        flex-direction: column;
    }
}


