/* 
    Created on : 25 ene. 2022, 19:03:20
    Author     : Sasha
*/

.background{
    display: none;
    position: absolute;
    z-index: -10;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-image: linear-gradient(var(--lightblue), var(--lightpink), white);   
}

main section h1{
    font-size: xx-large;
}