/* 
    Created on : 25 ene. 2022, 19:03:20
    Author     : Sasha
*/

section:first-of-type{
    text-align: center;
    margin: 10px;
}
section:last-of-type{
    background-image: linear-gradient(white, var(--lightpink), var(--lightblue));
    height: 100%;
}

/*
.background{
    position: absolute;
    z-index: -10;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    
}*/

main section h1{
    font-size: xx-large;
}