/* 
    Created on : 26 ene. 2022, 9:42:40
    Author     : Sasha
*/

/* Estilo del menú acordeón */
h1{
    margin-bottom: 10px;
}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: wrap;
}
nav ul li{
    flex-grow: 1;
}
nav ul li button{
    /* Limpieza de estilos de botones */
    border: none;
    padding: 0;
    text-transform: initial;
    font-weight: normal;
    color: var(--blue);
    border-radius: 0;
    
    background-color: var(--lightpink);
    width: 100%;
    padding: 5px 0;
}
nav li button:hover{
    border: none;
    color: var(--blue);
    background-color: var(--pink);
}

section {
    display: none;
}

section > div{
    margin-top: 10px;
}

/* Estilos comunes a las API */
h2{
    text-align: center;
}
h2 sup{
    font-size: small;
    position: relative;
    cursor: help;
}
sup a{
    text-decoration: none;
    color: var(--blue);
}
.restDescripcion{
    margin: 10px auto;
    max-width: 700px;
}

/* API de diccionario */
.diccionario form fieldset:first-of-type{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.diccionario form .error{
    text-align: center;
    margin: 0;
}
.diccionario form fieldset:last-of-type{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.diccionario form,
.diccionario .palabra{
    margin: 5px 0;
}
.diccionario .palabra > div:first-of-type{
    margin: 10px auto;
}
.diccionario .palabra li{
    margin-bottom: 7px;
}
.diccionario .palabra span{
    display: block;
    text-align: center;
}
.diccionario .palabra .sinant{
    font-size: smaller;
    margin-left: 15px;
}

.conversor tr *{
    text-align: center;
}
.conversor table{
    margin: auto;
    width: 100%;
    max-width: 450px;
    table-layout: fixed;
}
.conversor input{
    width: 75px;
    padding: 5px 0;
    text-align: center;
}


.REST form fieldset:first-of-type{
    text-align: center;
}
.REST form input[type='text']{
    width: 45px;
    text-align: center;
}
.REST .error{
    text-align: center;
}
.REST .mostradoDepartamento{
    text-align: center;
}
.REST table{
    margin: auto;
    border-collapse: collapse;
}
.REST table td,
.REST table th{
    border: 1px solid var(--blue);
    padding: 10px;
}
